@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,600;0,700;1,100;1,200;1,300&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #ffffff;
    padding-bottom: 30px;
    
}

.image-section img {
    width: 800px;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

@media only screen and (max-width: 1100px) {
    .list1 {
        width: 90%;
    }

    .list1-cards .card .content {
        font-size: 16px;
    }

    .heading-section {
        font-size: 20px;
    }

     list2 {
        width: 90%;
    }

    .list3 {
        width: 90%;
    }
}

@media only screen and (max-width: 400px) {
    .list1 {
        width: 90%;
    }

    .heading-section {
        font-size: 20px;
    }

    .list1-cards .card .content {
        font-size: 8px;
    }

    .list2 {
        width: 90%;
    }

    .list3 {
        width: 90%;
    }
}

.heading-section {
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    width: 90%;
    font-weight: 600;
    color: #280238;
    font-size: 26px;
    margin-top: 4%;
    margin-bottom: 4%;
    text-align: center;
    padding-top: 4%;
}

.list1 {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.heading {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: fit-content;
    margin-bottom: 1%;
    margin-top: 4%;
    padding-top: 10px;
    padding-bottom: 10px;
    background: transparent linear-gradient(90deg, #14012F 0%, #F350ED 100%);
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    display: block;
}

.heading p {
    padding-top: 2px;
    font-size: 16px;
    font-weight: 600;
    margin-left: 10%;
    color: #ffffff;
    vertical-align: center;
}


.list1-cards .card {
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    height: fit-content;
    min-height: 85px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

.list1-cards .card .serial {
    color: #ffffff;
    display: inline-block;
    font-weight: 600;
    width: 10%;
    padding-left: 3%;
    padding-top: 4%;
    background-color: #01224B;
}

.list1-cards .card .content {
    display: inline-block;
    width: 80%;
    background-color: #EBF2FF;
    text-align: left;
    font-size: 16px;
    padding-left: 2%;
    padding-right: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    align-items: center;
    color: #280238;
    /* text-transform: capitalize; */
    font-weight: 600;
}

.list1-cards .card .anchor {
    display: inline-block;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent linear-gradient(90deg, #670A64 0%, #14012F 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
}

.list1-cards .card .anchor img {
    width: auto;
    object-fit: cover;
    display: flex;
    max-width: 100%;
    max-height: 100%;
}

.list2 {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 4%;
}


.list3 {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 4%;
}

.list3 .heading {
    width: 100%;
    /* height: fit-content; */
    margin-top: 4%;
    margin-bottom: 1%;
    padding-top: 10px;
    padding-bottom: 10px;
    background: transparent linear-gradient(90deg, #14012F 0%, #50D4F3 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
}

.list3 .heading p {
    padding-top: 2px;
    font-size: 16px;
    font-weight: 600;
    margin-left: 10%;
    color: #ffffff;
    vertical-align: center;
}

.by-section {
    text-align: center;
    width: 100%;
    color: #040504;
    margin-top: 30px;
    font-size: 22px;
    font-weight: 600;
    text-transform: capitalize;
}

.footer {
    margin-top: 30px;
    height: fit-content;
    width: 100%;
    background: transparent linear-gradient(90deg, #670A64 0%, #14012F 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    text-align: center;
    color: #ffffff;
    padding-top: 5%;
    padding-bottom: 4%;
    /* padding-left: 5%;
    padding-right: 5%; */
    line-height: 25px;
    font-size: 18px;
    font-weight: 500;
}